#!/bin/bash

set -e

if [ ! -f multi_worker_config.json ]; then
    echo "Error: multi_worker_config.json file not found, please provide one"
    exit 1
fi

python3 setup_workers.py

num_workers=$(jq '.workers | length' multi_worker_config.json)

for i in $(seq 0 $((num_workers-1))); do
    nodeName=$(jq -r ".workers[$i].wallet.addressKeyName" multi_worker_config.json)
    
    mkdir -p "./worker-data-$((i+1))"

    json_content=$(jq ".workers[$i]" multi_worker_config.json)
    stringified_json=$(echo "$json_content" | jq -c .)

    echo "ALLORA_OFFCHAIN_NODE_CONFIG_JSON='$stringified_json'" > "./worker-data-$((i+1))/env_file"
    echo "NAME=$nodeName" >> "./worker-data-$((i+1))/env_file"
    echo "ENV_LOADED=true" >> "./worker-data-$((i+1))/env_file"
    
    echo "Config for worker $((i+1)) saved to ./worker-data-$((i+1))/env_file"
done

echo "All workers initialized successfully."
